In [1]:
from tictactoe.tictactoe import terminal, utility, minimax, winner, result
import tictactoe.tictactoe as ttt
import numpy as np
import pandas as pd

In [2]:


data = []

arr = {0 : "X", 1 : "O", 2 : None}

for i_0 in range(3):
    for i_1 in range(3):
        for i_2 in range(3):
            for i_3 in range(3):
                for i_4 in range(3):
                    for i_5 in range(3):
                        for i_6 in range(3):
                            for i_7 in range(3):
                                for i_8 in range(3):

                                    board = np.array([i_0, i_1, i_2, i_3, i_4, i_5, i_6, i_7, i_8])
                                    board_2 = np.array([arr[i] for i in board])

                                    if terminal(board_2.reshape(3,3)):
                                        continue

                                    count_0 = 0
                                    count_X = 0
                                    for i in range(9):
                                        if board[i] == 0:
                                            count_X += 1
                                        elif board[i] == 1:
                                            count_0 += 1

                                    if count_X == count_0:
                                        data.append((board, 'X'))
                                    elif count_X == count_0 + 1:
                                        data.append((board, 'O'))

print(len(data))

# 0 is X and 1 is O
# if both count are equal then X will be the one to move first

4520

In [3]:
import numpy as np
import matplotlib.pyplot as plt

from Helper_functions import get_pattern,generate_image,tester

In [4]:
df = pd.DataFrame(data, columns =[ 'board', 'player'])

In [5]:
df.head()

                         board player
0  [0, 0, 1, 0, 0, 1, 1, 1, 2]      X
1  [0, 0, 1, 0, 0, 1, 1, 2, 2]      O
2  [0, 0, 1, 0, 0, 1, 2, 1, 2]      O
3  [0, 0, 1, 0, 0, 2, 1, 1, 2]      O
4  [0, 0, 1, 0, 0, 2, 1, 2, 1]      O

In [6]:
winners = []

In [7]:
for i in range(len(data)):
    board = np.array(data[i][0])
    board_2 = np.array([arr[i] for i in board])
    board_2 = board_2.reshape(3,3)

    while not terminal(board_2):
        move = minimax(board_2)
        board_2 = result(board_2, move)

    if utility(board_2) == 1:
        winners.append(1)

    elif utility(board_2) == -1:
        winners.append(0)
    
    else:
        winners.append(2)

In [8]:
win = pd.DataFrame(winners, columns = ['winner'])

In [9]:
id = pd.DataFrame([f"{i}.png" for i in range(len(data))], columns = ['ID'])

In [10]:
final_result = pd.concat([id, df, win], axis = 1)

In [11]:
final_result.head()

      ID                        board player  winner
0  0.png  [0, 0, 1, 0, 0, 1, 1, 1, 2]      X       1
1  1.png  [0, 0, 1, 0, 0, 1, 1, 2, 2]      O       0
2  2.png  [0, 0, 1, 0, 0, 1, 2, 1, 2]      O       0
3  3.png  [0, 0, 1, 0, 0, 2, 1, 1, 2]      O       0
4  4.png  [0, 0, 1, 0, 0, 2, 1, 2, 1]      O       0

In [12]:
final_result.to_csv('solution_final.csv', index = False)